%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "nav .navbar-collapse", "aria-expanded" => false}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'HowMuchYaBench!', root_path, class: 'navbar-brand'

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            .dropdown
              .dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
                .profile-image
                  = (current_user.image.present?) ? image_tag(current_user.image) : current_user.name
                  %span.caret
              %ul.dropdown-menu.dropdown-menu-right
                %li= link_to 'Profile', edit_profile_path(current_user.profile)
                %li= link_to('Logout', destroy_user_session_path, :method => :delete)

        - elsif ((defined? devise_mapping) && devise_mapping.omniauthable?) && ((defined? resource_class) && resource_class.omniauth_providers.count > 0)
          %li= link_to 'Sign in', new_user_session_path
