%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "nav .navbar-collapse", "aria-expanded" => false}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'HowMuchYaBench!', root_path, class: 'navbar-brand'

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            .profile-image= image_tag current_user.image
          %li
            = link_to('Logout', destroy_user_session_path, :method => :delete)
        - elsif ((defined? devise_mapping) && devise_mapping.omniauthable?) && ((defined? resource_class) && resource_class.omniauth_providers.count > 0)
          #sign-in-with
            = t('.sign_in_with', default: 'Sign In With')
            &nbsp;
            - social_icons = {facebook: "facebook-official", twitter: "twitter-square" }
            - resource_class.omniauth_providers.each do |provider|
              - provider_icon = fa_icon(provider.to_s)
              - provider_icon = fa_icon(social_icons[provider]) if social_icons[provider]

              = link_to provider_icon, omniauth_authorize_path(resource_name, provider), title: t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "#{provider.to_s.titleize}")
              &nbsp;