%h1
  Welcome back #{current_user.first_name}!
- unless current_user.profile.bench_current.present?
  %p (Don't see your name below?  #{link_to "Edit your profile", edit_profile_path(current_user.profile)} to update your current bench press.)

%p Here's your current competition.
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Bench
      %th Location
      %th Rank
      %th Last Week
  %tbody
    - @top_benches.sort_by{|p|p[:bench]}.reverse.each_with_index do |p, i|
      %tr{class: ("highlight" if current_user.name == p[:name])}
        %td= p[:name]
        %td= p[:bench]
        %td= p[:location]
        %td= i + 1
        %td= i + 2
