!!!
%html
%head
  %title HowMuchYaBench
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic"
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

= render "shared/nav"

.container
  = yield

  = render "shared/footer"

:javascript
  = render "shared/flash"