!!!
%html
%head>
  %title HowMuchYaBench
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "nav .navbar-collapse", "aria-expanded" => false}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'HowMuchYaBench!', root_path, class: 'navbar-brand'

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            .profile-image= image_tag current_user.image
          %li
            = link_to('Logout', destroy_user_session_path, :method => :delete)

.container
  - flash.each do |key, value|
    .alert{class: "alert-#{key}"}
      = value

  = yield